<section class="experience section" id="experience">
  <div class="container">
    <h2 class="experience-title">Coffee Moments</h2>
    <p class="experience-text">
      Experience the warmth and community of CoffeeJoy.
    </p>

    <div class="gallery-wrapper">
      <ul class="gallery-list">
        <li class="gallery-item">
          <picture>
            <source media="(min-width:1440px)" srcset="
                /img/experience/exp1_l.jpg    1x,
                /img/experience/exp1_l@2x.jpg 2x
              " />

            <source media="(min-width:768px)" srcset="
                /img/experience/exp1_m.jpg    1x,
                /img/experience/exp1_m@2x.jpg 2x
              " />
            <source media="(max-width:767px)" srcset="
                /img/experience/exp1_s.jpg    1x,
                /img/experience/exp1_s@2x.jpg 2x
              " />
            <img class="gallery-img" src="/img/experience/exp1_s.jpg" alt="latte" loading="lazy" />
          </picture>
        </li>
        <li class="gallery-item">
          <picture>
            <source media="(min-width:1440px)" srcset="
              /img/experience/exp2_l.jpg    1x,
              /img/experience/exp2_l@2x.jpg 2x
              " />

            <source media="(min-width:768px)" srcset="
                /img/experience/exp2_m.jpg    1x,
                /img/experience/exp2_m@2x.jpg 2x
              " />
            <source media="(max-width:767px)" srcset="
                /img/experience/exp2_s.jpg    1x,
                /img/experience/exp2_s@2x.jpg 2x
              " />
            <img class="gallery-img" src="/img/experience/exp2_s.jpg" alt="breakfast scene" loading="lazy" />
          </picture>
        </li>
        <li class="gallery-item">
          <picture>
            <source media="(min-width:1440px)" srcset="
                /img/experience/exp3_l.jpg    1x,
                /img/experience/exp3_l@2x.jpg 2x
              " />

            <source media="(min-width:768px)" srcset="
                /img/experience/exp3_m.jpg    1x,
                /img/experience/exp3_m@2x.jpg 2x
              " />
            <source media="(max-width:767px)" srcset="
                /img/experience/exp3_s.jpg    1x,
                /img/experience/exp3_s@2x.jpg 2x
              " />
            <img class="gallery-img" src="/img/experience/exp3_s.jpg" alt="a quite cafe corner" loading="lazy" />
          </picture>
        </li>
        <li class="gallery-item">
          <picture>
            <source media="(min-width:1440px)" srcset="
                /img/experience/exp4_l.jpg    1x,
                /img/experience/exp4_l@2x.jpg 2x
              " />

            <source media="(min-width:768px)" srcset="
                /img/experience/exp4_m.jpg    1x,
                /img/experience/exp4_m@2x.jpg 2x
              " />
            <source media="(max-width:767px)" srcset="
                /img/experience/exp4_s.jpg    1x,
                /img/experience/exp4_s@2x.jpg 2x
              " />
            <img class="gallery-img" src="/img/experience/exp4_s.jpg" alt="barista pouring espresso" loading="lazy" />
          </picture>
        </li>
        <li class="gallery-item">
          <picture>
            <source media="(min-width:1440px)" srcset="
                /img/experience/exp5_l.jpg    1x,
                /img/experience/exp5_l@2x.jpg 2x
              " />

            <source media="(min-width:768px)" srcset="
                /img/experience/exp5_m.jpg    1x,
                /img/experience/exp5_m@2x.jpg 2x
              " />
            <source media="(max-width:767px)" srcset="
                /img/experience/exp5_s.jpg    1x,
                /img/experience/exp5_s@2x.jpg 2x
              " />
            <img class="gallery-img" src="/img/experience/exp5_s.jpg" alt="wide view of the CoffeeJoy interior"
              loading="lazy" />
          </picture>
        </li>
        <li class="gallery-item">
          <picture>
            <source media="(min-width:1440px)" srcset="
                /img/experience/exp6_l.jpg    1x,
                /img/experience/exp6_l@2x.jpg 2x
              " />

            <source media="(min-width:768px)" srcset="
                /img/experience/exp6_m.jpg    1x,
                /img/experience/exp6_m@2x.jpg 2x
              " />
            <source media="(max-width:767px)" srcset="
                /img/experience/exp6_s.jpg    1x,
                /img/experience/exp6_s@2x.jpg 2x
              " />
            <img class="gallery-img" src="/img/experience/exp6_s.jpg" alt="two cups on a table" loading="lazy" />
          </picture>
        </li>
        <li class="gallery-item">
          <picture>
            <source media="(min-width:1440px)" srcset="
                /img/experience/exp7_l.jpg    1x,
                /img/experience/exp7_l@2x.jpg 2x
              " />

            <source media="(min-width:768px)" srcset="
                /img/experience/exp7_m.jpg    1x,
                /img/experience/exp7_m@2x.jpg 2x
              " />
            <source media="(max-width:767px)" srcset="
                /img/experience/exp7_s.jpg    1x,
                /img/experience/exp7_s@2x.jpg 2x
              " />
            <img class="gallery-img" src="/img/experience/exp7_s.jpg" alt="takeaway coffe" loading="lazy" />
          </picture>
        </li>
      </ul>
    </div>
  </div>
</section>