<footer class="footer">
  <div class="container">
    <div class="footer-container">
      <div class="logo-socials-container">
        <a href="/index.html" class="nav-logo">
          <svg class="footer-logo-icon" width="63" height="36">
            <use href="/img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="socials-list">
          <li class="socials-list-item">
            <a href="https://www.facebook.com/" class="social-link"
              ><svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li class="socials-list-item">
            <a href="https://www.instagram.com/" class="social-link">
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="socials-list-item">
            <a href="https://x.com/" class="social-link">
              <svg class="social-icon" width="24" height="24">
                <use href="/img/icons.svg#icon-X"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
      <div class="nav-container">
        <ul class="footer-nav-list">
          <li class="footer-nav-list-item">
            <a href="#welcome" class="nav-link">About us</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#quality" class="nav-link">Benefits</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#experience" class="nav-link">Gallery</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#testimonials" class="nav-link">Testimonial</a>
          </li>
          <li class="footer-nav-list-item">
            <a href="#location" class="nav-link">Location</a>
          </li>
        </ul>
      </div>
    </div>
    <p class="footer-text">&copy; 2025 CoffeeJoy. All rights reserved.</p>
  </div>
</footer>
