<div class="modal-backdrop">
    <div class="modal-welcome">
        <button class="close-btn-backdrop" type="button">
            <svg class="close-icon" width="32" height="32">
                <use href="/img/icons.svg#icon-close"></use>
            </svg>
        </button>

        <h2 class="modal-title">Welcome to the world of CoffeeJoy!</h2>

        <p class="modal-text">Fresh brews, special offers, and cozy updates are coming your way.</p>

        <picture class="modal-photo">
            <source media="(min-width: 320px)" srcset="/img/modal_welcome/modal-img-tel@1x.ong 1x,
                                /img/modal_welcome/modal-img-tel@2x.png 2x" />

            <source media="(min-width: 768px)" srcset="/img/modal_welcome/modal-img-tabl-desk@1x.png 1x,
                    /img/modal_welcome/modal-img-tabl-desk@2x.png 2x" />

            <img class="modal-img" src="/img/modal_welcome/modal-img-tel@1x.png" alt="welcome photo" width="644"
                height="374" />
        </picture>

        <button class="modal-button" type="button">Close</button>
    </div>
</div>