<section class="section-quality">
  <div class="container">
    <p class="quality-name">Quality</p>
    <h2 class="quality-title">Why CoffeeJoy Stands Out from the Rest</h2>
    <p class="quality-text">
      At CoffeeJoy, we pride ourselves on delivering the freshest roasted
      coffee, crafted with care by our skilled baristas. Our flexible
      subscription plans ensure that your coffee experience is tailored to your
      needs.
    </p>
    <ul class="quality-list">
      <li class="quality-item">
        <img
          class="quality-item-img"
          srcset="
            /img/quality/quality-1-min.jpg,
            /img/quality/quality-1@2x-min.jpg 2x
          "
          src="/img/quality/quality-1-min.jpg"
          alt="Fresh-Roasted Coffee"
          width="100%"
          loading="lazy"
        />
        <p class="quality-item-title">Fresh-Roasted Coffee for Every Taste</p>
        <p class="quality-item-text">
          Savor the rich flavors of our expertly sourced beans.
        </p>
      </li>
      <li class="quality-item">
        <img
          class="quality-item-img"
          srcset="
            /img/quality/quality-2-min.jpg,
            /img/quality/quality-2@2x-min.jpg 2x
          "
          src="/img/quality/quality-2-min.jpg"
          alt="Expert Baristas"
          width="100%"
          loading="lazy"
        />
        <p class="quality-item-title">
          Expert Baristas Crafting Your Perfect Brew
        </p>
        <p class="quality-item-text">
          Our baristas are passionate about coffee and skilled in their craft.
        </p>
      </li>
      <li class="quality-item">
        <img
          class="quality-item-img"
          srcset="
            /img/quality/quality-3-min.jpg,
            /img/quality/quality-3@2x-min.jpg 2x
          "
          src="/img/quality/quality-3-min.jpg"
          alt="Cozy Atmosphere"
          width="100%"
          loading="lazy"
        />
        <p class="quality-item-title">Cozy Atmosphere</p>
        <p class="quality-item-text">
          We don’t just serve coffee — we create a warm and welcoming space
          where every cup feels like home.
        </p>
      </li>
    </ul>
  </div>
</section>
