<section class="subscribe">
  <div class="container">
    <div class="subscribe-container">
      <div class="sub-form-container">
        <h2 class="subscribe-title">Join Our Coffee Community</h2>
        <p class="subscribe-text">
          Experience the joy of coffee delivered right to your door. Sign up
          today!
        </p>
        <form class="sub-form">
          <label class="subscribe-label visually-hidden" for="sub">Email:</label>
          <div class="input-wrapper">
            <input id="sub" class="subscribe-input" type="email" placeholder="Your Email Here" required />
            <span class="error-text">Use correct e-mail format</span>
          </div>
          <button class="subscribe-btn">
            Subscribe
            <svg class="subscribe-icon" width="24" height="24">
              <use href="/img/icons.svg#icon-arrow"></use>
            </svg>
          </button>
        </form>
        <p class="subscribe-info">By clicking Get Started, you agree to our Terms and
          Conditions.</p>
      </div>
      <picture>
        <source media="(min-width: 1440px)" srcset="
          ./img/subscribe/sub-img-comp.jpg 1x,
          ./img/subscribe/sub-img-comp@2x.jpg 2x
        " />
        <source media="(min-width: 768px)" srcset="
          ./img/subscribe/sub-img-tablet.jpg 1x,
          ./img/subscribe/sub-img-tablet@2x.jpg 2x
        " />
        <source media="(min-width: 320px)" srcset="
          ./img/subscribe/sub-img.jpg 1x,
          ./img/subscribe/sub-img@2x.jpg 2x
        " />
        <img class="subscribe-img" src="/img/subscribe/sub-img.jpg" alt="comunity photo" max-width="288px" />
      </picture>
    </div>
  </div>
</section>