<section class="section-testimonials">
  <div class="container">
    <h4 class="testimonials-title">What our visitors say</h4>
    <div class="container-testimonials testimonials-cards-box">
      <div class="testimonials-cards">
        <div class="testimonials-box">
          <ul class="stars">
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star" width="20" height="19">
                <use href="./img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-descr">
            "Every cup feels like a warm hug! I’m addicted to their seasonal
            flavors!"
          </p>
        </div>
        <p class="testimonials-name">Name Surname</p>
      </div>
      <div class="testimonials-cards">
        <div class="testimonials-box">
          <ul class="stars">
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star" width="20" height="19">
                <use href="./img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-descr">
            "CoffeeJoy is my go-to place for a perfect cup of coffee! The
            ambiance is so inviting, and the baristas are always friendly."
          </p>
        </div>
        <p class="testimonials-name">Alice Johnson</p>
      </div>
      <div class="testimonials-cards">
        <div class="testimonials-box">
          <ul class="stars">
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-descr">
            "I love the variety of blends offered at CoffeeJoy. Every visit
            feels like a new experience!"
          </p>
        </div>
        <p class="testimonials-name">Michael Smith</p>
      </div>
      <div class="testimonials-cards">
        <div class="testimonials-box">
          <ul class="stars">
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star" width="20" height="19">
                <use href="./img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star" width="20" height="19">
                <use href="./img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-descr">
            "The pastries are to die for! I can’t resist pairing them with my
            favorite latte. Highly recommend this spot!"
          </p>
        </div>
        <p class="testimonials-name">Emily Davis</p>
      </div>
      <div class="testimonials-cards">
        <div class="testimonials-box">
          <ul class="stars">
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-descr">
            "A cozy little gem! CoffeeJoy has the best cold brew in town. I come
            here every weekend!"
          </p>
        </div>
        <p class="testimonials-name">James Brown</p>
      </div>
      <div class="testimonials-cards">
        <div class="testimonials-box">
          <ul class="stars">
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star" width="20" height="19">
                <use href="./img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star" width="20" height="19">
                <use href="./img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-descr">
            "The atmosphere is perfect for working or relaxing with friends.
            Their Wi-Fi is fast too!"
          </p>
        </div>
        <p class="testimonials-name">Sarah Wilson</p>
      </div>
      <div class="testimonials-cards">
        <div class="testimonials-box">
          <ul class="stars">
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star" width="20" height="19">
                <use href="./img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-descr">
            "I’m addicted to their seasonal flavors! Each one is crafted with
            such care and creativity."
          </p>
        </div>
        <p class="testimonials-name">Chris Lee</p>
      </div>
      <div class="testimonials-cards">
        <div class="testimonials-box">
          <ul class="stars">
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star-fill" width="20" height="19">
                <use href="./img/icons.svg#icon-star-filled"></use>
              </svg>
            </li>
            <li class="star-item">
              <svg class="icon-star" width="20" height="19">
                <use href="./img/icons.svg#icon-star-outline"></use>
              </svg>
            </li>
          </ul>
          <p class="testimonials-descr">
            "I appreciate how they source their coffee beans sustainably. It's
            great to support such an ethical business!"
          </p>
        </div>
        <p class="testimonials-name">Patricia Taylor</p>
      </div>
    </div>
  </div>
</section>
