<section class="section" id="welcome">
  <div class="container">
    <div class="section-content">
      <div class="section-content-part">
        <p class="section-tagline">Welcome</p>
        <h2 class="section-title">Our Journey: Passion for Quality Coffee</h2>
      </div>
      <div class="section-content-part">
        <p class="section-text">
          At CoffeeJoy, we believe that every cup tells a story. Our mission is
          to bring you the finest coffee experiences, crafted with care and
          dedication. We are committed to sourcing high-quality beans and
          roasting them to perfection, ensuring each sip is a delight.
        </p>
        <a href="#location" class="btn welcome-btn">
          Find location
          <svg class="btn-icon" width="24" height="24">
            <use href="/img/icons.svg#icon-map-pin"></use>
          </svg>
        </a>
      </div>
    </div>
    <div class="section-image-wrapper">
      <picture>
        <source srcset="/img/welcome/img-02.jpg 1x, /img/welcome/img-02@2x.jpg 2x" />
        <img src="/img/welcome/img-02.jpg" alt="Бариста демонструє ручне приготування кави pour-over у кав’ярні." />
      </picture>
    </div>
  </div>
</section>