:root {
  --color-scheme-1-background: #e0cbb4;
  --color-scheme-1-text: #0b0803;
  --color-white: #ffff;
  --color-coffee-dark: #6f4e37;
  --color-scheme-2-background: #b58869;
  --color-scheme-1-foreground: #c29d84;
}

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
  color: var(--color-scheme-1-text);
  background-color: var(--color-scheme-1-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Aboreto', sans-serif;
}
button {
  cursor: pointer;
  border: none;
}
