.experience-title {
        font-weight: 400;
        font-size: 36px;
        line-height: 120%;
        letter-spacing: -0.01em;
        text-align: center;
        color: #0b0803;
        margin-bottom: 24px;
}
.experience-text {
        font-size: 18px;
        line-height: 150%;
        text-align: center;
        color: #0b0803;
        margin-bottom: 32px;
}
@media only screen and (min-width: 1440px) {
        .experience-title{
        font-size: 48px;
  }
}
.gallery-list{
        display: flex;
        flex-direction: column;
        gap: 24px;
}
.gallery-img{
        overflow: hidden;
        border-radius: 32px;
        display: block;
}
@media only screen and (min-width: 768px) {
  .gallery-list{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 32px;
}
}
@media only screen and (min-width: 1440px) {
.gallery-list{
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 948px;
}
}