.experience-title {
        font-size: 36px;
        line-height: 120%;
        letter-spacing: -0.01em;
        text-align: center;
        margin-bottom: 24px;
}

.experience-text {
        line-height: 150%;
        text-align: center;
        margin-bottom: 32px;
}

@media only screen and (min-width: 1440px) {
        .experience-title {
                font-size: 48px;
        }
}

.gallery-list {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
}

.gallery-item {
        width: 100%;
}

.gallery-img {
        overflow: hidden;
        border-radius: 32px;
        width: 100%;
}

@media only screen and (min-width: 768px) {
        .gallery-list {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 32px;
        }

        .gallery-item {
                width: auto;
        }
}

@media only screen and (min-width: 1440px) {
        .gallery-list {
                flex-direction: column;
                flex-wrap: wrap;
                max-height: 948px;
        }
}