.section-location {
  padding: 64px 0;
}

.section-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media only screen and (min-width: 1440px) {
  .section-content {
    flex-direction: row;
    justify-content: space-between;
    gap: 24px;
  }
}

.location-content {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .location-content {
    gap: 40px;
  }
}

@media only screen and (min-width: 1440px) {
  .location-content {
    flex-direction: column;
  }
}

.tagline-wrapper {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 16px;
}
.location-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin: 0 0 24px;
}

.location-contact-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

@media only screen and (min-width: 768px) {
  .location-contact-list {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1440px) {
  .location-contact-list {
    flex-direction: column;
  }
}
.location-contact-item {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 16px;
}
@media only screen and (min-width: 768px) {
  .location-contact-item {
    width: calc((100% - 80px) / 3);
    gap: 0;
  }
}
@media only screen and (min-width: 1440px) {
  .location-contact-item {
    width: 100%;
  }
}
.svg-container {
  width: 32px;
  height: 32px;
  margin: 0 0 16px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.location-contact-title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

.location-contact-link {
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.location-contact-icon {
  fill: #0b0803;
}
.location-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin: 0 0 16px;
}

.navigation-icon {
  width: 24px;
  height: 24px;
}
.location-map-container {
  border-radius: 40px;
  display: flex;
  align-items: center;
  gap: 8px;
}
.location-link {
  font-weight: 500;
  font-size: 16px;
}
.navigation-icon {
  width: 24px;
  height: 24px;
}
.location-map {
  width: 288px;
  height: 307px;
}
@media only screen and (min-width: 768px) {
  .location-map {
    width: 704px;
    height: 377px;
  }
}
@media only screen and (min-width: 1440px) {
  .location-map {
    width: 869px;
    height: 697px;
  }
}
.location-map iframe {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 40px;
}
