.location {
}
.container {
}
.location-title-container {
  margin: 0 0 40px;
}
.tagline-wrapper {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 16px;
}
.location-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  padding: 0 0 24px;
}
.location-text {
}
.location-contact {
}
.location-contact-item {
}
.location-contact-list {
}
.location-contact-icon {
}
.location-contact-title {
}
.location-contact-link {
}
.location-btn {
}
.location-btn-link {
}
.location-btn-icon {
}
.location-img {
}
