.section-location {
  padding: 64px 0;
}
.container {
}
.location-title-container {
  margin: 0 0 40px;
}
.tagline-wrapper {
  font-weight: 600;
  font-size: 16px;
  margin: 0 0 16px;
}
.location-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  padding: 0 0 24px;
}
.location-text {
}
.location-contact-container {
  margin: 0 0 32px;
}
.location-contact-item {
}
.location-contact-list {
}
.location-contact-icon {
  fill: #0b0803;
}

.location-contact-title {
  margin: 0 0 8px;
}
.location-contact-link {
  font-size: 16px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
.location-btn {
  background-color: transparent;
  padding: 0;
}
.location-btn-link {
}
.location-btn-icon {
  background-color: transparent;
  width: 24px;
  height: 24px;
}
.location-img {
}
