.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98;
    width: 100%;
    height: 100%;
    padding: 0 16px;
    background-color: #e0cbb4;
    transform: translateX(100%);
    transition: transform 0.3s;
}

.mobile-menu.is-open {
    transform: translateX(0);
}

.close-btn {
    position: absolute;
    background-color: transparent;
    display: flex;
    margin-left: auto;
    align-items: center;
    justify-content: center;
    border: none;
    top: 24px;
    right: 28px;
    padding: 0;
}

.close-icon {
    fill: #0b0803;
}

.mobile-menu-logo {
    display: flex;
    padding: 18px 0;
}


.mobile-menu-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    list-style: none;
    gap: 32px;
    flex-grow: 1;
}

.mobile-menu-link {
    font-size: 16px;
    line-height: 150%;
}

@media screen and (min-width:768px) {
    .mobile-menu {
        display: none;
    }
}

@media screen and (min-width:1440px) {
    .mobile-menu {
        display: none;
    }
}