.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-backdrop.subscription-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal-welcome {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: auto;

    flex-direction: column;
    background-color: var(--color-scheme-1-background);

    width: 100%;
    max-width: 288px;
    height: 100%;
    max-height: 631px;

    border-radius: 40px;
    padding: 64px 16px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .modal-welcome {
        max-width: 704px;
        max-height: 771px;
        padding: 64px 30px;
    }
}

@media screen and (min-width:1440px) {
    .modal-welcome {
        max-width: 866px;
        max-height: 801px;
        padding: 64px 64px;
    }
}

.close-btn-backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (min-width:1440px) {
    .close-btn-backdrop {
        right: 73px;
    }
}

.modal-title {
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    margin-bottom: 16px;
}

@media screen and (min-width:768px) {
    .modal-title {
        font-size: 36px;
    }
}

@media screen and (min-width:1440px) {
    .modal-title {
        font-size: 48px;
    }
}

.modal-text {
    text-align: center;
    margin-bottom: 24px;
}

@media screen and (min-width:768px) {
    .modal-text {
        margin-bottom: 48px;
    }
}

.modal-photo {
    margin: 0 auto 24px;
}

@media screen and (min-width:768px) {
    .modal-photo {
        margin: 0 auto 48px;
    }
}

.modal-button {
    font-weight: 500;
    font-size: 16px;
    color: var(--color-white);
    margin: 0 auto;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 100px;
    padding: 24px 0;
    width: 100%;
    height: 44px;

    box-shadow: 0 1px 2px 0 var(--opacity-neutral-darkest-5), inset 0 -2px 1px 0 rgba(0, 0, 0, 0.2), inset 0 0 0 1px var(--opacity-neutral-darkest-15), inset 0 2px 1px 0 rgba(255, 255, 255, 0.25), inset 0 32px 24px 0 var(--opacity-white-5);
    background: var(--color-coffee-dark);
    transition: opacity 200ms ease-in;
}

@media screen and (min-width:768px) {
    .modal-button {
        width: 340px;
    }
}

.modal-button:hover {
    opacity: 0.5;
}