.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    z-index: 999;

    display: flex;
    justify-content: center;
    align-items: center;

    /* opacity: 0;
    visibility: hidden;
    pointer-events: none; */

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    overflow: auto;

    flex-direction: column;
    background-color: #FAFAFA;

    width: 100%;
    max-width: 311px;
    height: 100%;
    max-height: 622px;

    border-radius: 15px;
    padding: 32px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 14px;
    right: 14px;
    padding: 0;
    background-color: transparent;
    border: none;
    cursor: pointer;
}