.section-quality {
    padding: 64px 0;
}

.quality-name {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    margin-bottom: 16px;
}

.quality-title {
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    text-align: center;
    margin: 0 auto 24px;
}

.quality-text {
    text-align: center;
    margin: 0 auto 32px;
}

.quality-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.quality-item {
    width: 100%;
}

.quality-item-img {
    border-radius: 32px;
    margin-bottom: 32px;
}

.quality-item-title {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    margin: 0 auto 8px;
}

.quality-item-text {
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
}

@media only screen and (min-width: 768px) and (max-width: 1439px) {
    .quality-title {
        max-width: 452px;
    }

    .quality-item {
        width: calc((100% - 24px) / 2);
    }

    .quality-item:last-child {
        width: 100%;
    }

    .quality-item:first-child .quality-item-title {
        max-width: 284px;
    }

    .quality-item:first-child .quality-item-text {
        max-width: 294px;
    }

    .quality-item:last-child .quality-item-text {
        max-width: 440px;
    }

}

@media only screen and (min-width: 1440px) {
    .quality-title {
        font-size: 48px;
        max-width: 768px;
    }

    .quality-text {
        max-width: 764px;
    }

    .quality-item {
        width: calc((100% - 24px * 2) / 3);
    }

}