.section-testimonials {
  padding: 64px 0;
}

.container-testimonials {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .container-testimonials {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.testimonials-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  margin-bottom: 24px;
}

@media only screen and (min-width: 1440px) {
  .testimonials-title {
    width: 416px;
    font-size: 48px;
  }
}

.testimonials-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  border: 1px solid rgba(11, 8, 3, 0.15);
  border-radius: 32px;
  padding: 32px;
  width: 100%;
  min-width: 265px;
  background-color: #c29d84;
}

@media only screen and (min-width: 768px) {
  .testimonials-cards {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 253px;
    width: calc((100% - 24px) / 2);
  }
}

@media only screen and (min-width: 1440px) {
  .testimonials-cards {
    min-height: 303px;
    width: calc((100% - 24px * 3) / 4);
    transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .testimonials-cards:focus,
  .testimonials-cards:hover {
    transform: translateY(-6px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 6px 12px;
  }
}

.icon-star {
  stroke: #0b0803;
  fill: none;
}

.testimonials-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

@media only screen and (min-width: 768px) {
  .testimonials-box {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1 1 auto;
    margin-bottom: 0;
  }
}

.testimonials-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}

.stars {
  display: flex;
  gap: 4px;
}

.star-item {
  line-height: 0;
}
