.location {
  padding: 64px 0;
}

.section-content {
}

@media only screen and (min-width: 768px) {
  .section-content {
    flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  .section-content {
  }
}

.location-contant {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
@media only screen and (min-width: 768px) {
  .location-contant {
    /* width: calc((100% - 80px) / 2); */
  }
}

@media only screen and (min-width: 768px) {
  .location-contant {
    flex-direction: column;
  }
}
.section-tagline {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}

.section-title {
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}

@media only screen and (min-width: 1440px) {
  .section-title {
    font-size: 48px;
  }
}

.section-text {
  margin-bottom: 32px;
}

.btn-icon {
  fill: var(--color-white);
}

.welcome-btn {
  width: 100%;
  height: 44px;
  padding: 10px 24px;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .welcome-btn {
    width: 181px;
    margin: 0;
    gap: 12px;
  }
}

.section-image-wrapper {
  border-radius: 40px;
  overflow: hidden;
}
.location-map iframe {
  width: 100%;
  height: 100%;
}
